<div class="well">
  <h1><%= @project.title %></h1>
  <form class="form-group" action="/projects/<%= @project.id %>/edit" method="get">
    <button type="submit" class="btn btn-info">Edit Project</button>
  </form>
</div>

<div class="well">
  <h4>Current volunteers:</h4>
  <table>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <th><a href="/volunteer/<%=volunteer.id%>"><%= volunteer.name %></a></th>
      </tr>
    <% end %>
  </table>

  <h4>Assign a volunteer:</h4>
  <form class="form-group" action="/projects/<%= @project.id %>" method="post">

    <select class="form-control" type="text" name="new_volunteer">
      <% @available_volunteers.each do |volunteer| %>
        <option value="<%= volunteer.name %>"><%= volunteer.name %></option>
      <% end %>
    </select><br>
    <button type="submit" class="btn btn-primary">Add</button>
  </form>
</div>
