<h2>Search Results:</h2>

<table>
  <tr>
    <th>Title</th>
    <th>Author</th>
    <th>Genre</th>
    <th>Copies available:</th>
  </tr>
    <% @search_list.each do |book| %>

      <tr>
        <td><a href="/librarian/book/<%= book.id %>"><%= book.title %></a></td>
        <td><%= book.author %></td>
        <td><%= book.genre %></td>
        <td><%= book.inventory %></td>
      </tr>

    <% end %>
</table>
