<div class="well">

  <h1>Name: <%= @volunteer.name %></h1>
  <% unless @volunteer.project_id == 0 %>
    <h3>Currently assigned to <%= @project.title %></h3>
  <% end %>

  <form class="form-group" action="/volunteer/<%= @volunteer.id %>" method="post">
    <input name="_method" type="hidden" value="patch"/>
    <label>Update name:</label>
    <input class="form-control" name="update_name" id="name" placeholder="<%= @volunteer.name %>" required><br>
    <button type="submit" class="btn btn-warning">Update Volunteer</button>
  </form>

  <form class="form-group" action="/volunteer/<%= @volunteer.id %>" method="post">
    <input name="_method" type="hidden" value="delete"/>
    <button type="submit" class="btn btn-danger">Delete Volunteer</button>
  </form>

</div>
